
<img src="successful-employees.png" alt="" style="width: 100%;">
<h1 align="center">Employee Details</h1>
<div class="container">
    <input type="text" class="textfield 1" placeholder="Id">
    <input type="text" class="textfield 2" placeholder="Name">
    <input type="text" class="textfield 3" placeholder="Email">
    <input type="text" class="textfield 4" placeholder="Department">
    <button class="button 1">Add Employee</button>
    <button class="button 2">Get All</button>
    <button class="button 3">Update Employee</button>
    <button class="button 4">Delete Employee</button>
</div>