<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/employee/register" class="nav-link">Register</a></li>
        <li class="nav-item">
          <a routerLink="/employee/search" class="nav-link">Search</a>
        </li>
        <li class="nav-item">
          <a routerLink="/employee/update" class="nav-link">Update</a>
        </li>
        <li class="nav-item">
          <a routerLink="/employee/get-all" class="nav-link">Get All</a>
        </li>
      </ul>
    </header>
  </div>
  